<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>@ me</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<!-- Ugly code, need to clean up navbar. -->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="resume">Resume</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="inspiration">Inspiration</a></li>
</ul>
<!-- Ugly code, need to clean up navbar. -->

<body>
<h1> @ me </h1>
</body>
