<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Espedito Muniz Jr. Resume</title>
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>




<ul>
  <li><a href="/">Home</a></li>
  <li><a href="resume">Resume</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>

<body>
  <img src="http://i.imgur.com/skWFA4i.jpg" alt="Profile Picture" style="width:190px;" align="right">
  <br>
  <br>
<h1>Espedito Muniz Jr.</h1>
<p class="blurb">I'm a Quality Assurance engineer / Business Analyst aspiring to enter a career in design & development</p>
</body>
</html>
