<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>e s p e d i t o</title>
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu|Work+Sans" rel="stylesheet">
</head>

<div class="topnav">
<ul>
  <a href="/">Home</a>
  <a href="resume">Resume</a>
  <a href="contact">Contact</a>
  <a href="inspiration">Inspiration</a>
</ul>

  </div>

  <body>
  <div class = 'splash'>

    <h1> Hi, I'm Espedito. </h1>

    <p>
      This will be my evolving website/resume/blog.
      <br>
      You will follow me through learning front-end web development & design.
      <br>
      Bear with me.
    </p>

  </div>

  <div class ='profpic'>
    <img class ="prof" src="http://i.imgur.com/Q5f5LTQ.jpg">
  </div>

</body>

</head>





</body>
</html>
