<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Espedito Muniz Jr. Resume</title>
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>




<ul>
  <li><a href="/">Home</a></li>
  <li><a href="resume">Resume</a></li>
  <li><a href="contact">Contact</a></li>
  </ul>

<body>
<br>
  <img class ="profpic" src="http://i.imgur.com/skWFA4i.jpg" alt="Profile Picture" style="width:275px;" align="right">
  <br>
  <br>
  <br>


  <div class="sidebar">
    <h1>Espedito Muniz Jr.</h1>

    <p class="blurb">I'm a Quality Assurance engineer / Business Analyst aspiring to enter a career in design & development</p>

    <div class="icons">
      <a href="https://www.linkedin.com/in/espeditomuniz/"> <img src="http://imgur.com/sOudQUv.png" alt="LinkedIn" height="30px">
      <a href="https://github.com/espeditom"> <img src="http://imgur.com/FYSwvR8.png" alt="GitHub" height="30px">
      <a href="https://twitter.com/yungadobo"> <img src="http://imgur.com/Znpp5LH.png" alt="Twitter" height="30px">
      <a href="https://www.instagram.com/espedito.m/"> <img src="http://imgur.com/7acWRit.png" alt="Instagram" height="30px">
      </div>
  </div>




</body>
</html>
