

<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>inspiration.</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>



<!-- Ugly code, need to clean up navbar. -->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="resume">Resume</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="inspiration">Inspiration</a></li>
</ul>
<!-- Ugly code, need to clean up navbar. -->
<Br>
<body class="inspiration">

  

<img src="https://dl2.pushbulletusercontent.com/T1dabpviGENKG4fsQLze7b70RPBfDEnC/asset.JPG" height="325px" width="auto">

<img src="https://dl2.pushbulletusercontent.com/utXrVKGqadAAPNwyAbMKDKETjV5zdtqq/asset.JPG" height="325px" width="auto">

<img src="https://dl2.pushbulletusercontent.com/wMJEgXUsNrvlbd12qL3UlBI7poskK9F7/0704A66D-EB27-41FF-95DA-D14DBEE38BFD.jpg" height="325px" width="auto">

<img src="https://dl2.pushbulletusercontent.com/JSbHsguUTHTSehOdbWF5O2gDglVqXB5n/IMG_0075.JPG" height="325px" width="auto">

</body>
