

<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>inspiration.</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body class="inspiration">

  <img class = "inspo" src="https://dl2.pushbulletusercontent.com/T1dabpviGENKG4fsQLze7b70RPBfDEnC/asset.JPG" height="200" width="200">

  <img class = "inspo" src="https://dl2.pushbulletusercontent.com/utXrVKGqadAAPNwyAbMKDKETjV5zdtqq/asset.JPG" height="200" width="200">

  <img class = "inspo" src="https://dl2.pushbulletusercontent.com/wMJEgXUsNrvlbd12qL3UlBI7poskK9F7/0704A66D-EB27-41FF-95DA-D14DBEE38BFD.jpg" height="200" width="200">

  <img class = "inspo" src="https://dl2.pushbulletusercontent.com/JSbHsguUTHTSehOdbWF5O2gDglVqXB5n/IMG_0075.JPG" height="200" width="200">
  
  <img class = "inspo" src="http://i.imgur.com/D3j6kOD.jpg" height="200" width="200">  

</body>
