body {
	background: #4d4d4d;
  color: black;
  font-family: Verdana;
  margin: 5;
}

.blurb{
	text-align: right;
	color: black;
	font-size: 12px;
	font-family: verdana;
	margin-right: 5%;

}

h1{
	text-align: right;
	font-size: 22px;
	font-weight:bold;
	color: #1a404c;
	margin-left: 0%;
	margin-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #102d2d;
		border-radius:5px;

}

li{
  float:left;
}

li a {
    display: block;
    color: #297a79;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: yellow;
    color: white;
}

li a:hover:not(.active) {
    background-color: #1d5353;
    color: whitesmoke;
}

.sidebar{
	margin-left:85%;
	height:700px;
	width:275px;
	background-color: whitesmoke;
	border-radius:5px;
}

.profpic{
	border-radius:10px;
}

.icons{

	margin-left: 120px;
	margin-top: 165%;
	height:40px;
	width: 200px;

}

a.imageLink{
    text-decoration:none;
}
