body {
	background: #whitesmoke;
  color: black;
  font-family: Verdana;
  margin: 5;
}

.blurb{
	text-align: right;
	color: black;
	font-size: 12px;
	font-family: verdana;
	margin-left: 75%;
}

h1{
	text-align: right;
  color:black;
	font-size: 22px;
	font-weight: lighter;
	margin-left: 75%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #102d2d;

}

li{
  float:left;
}

li a {
    display: block;
    color: #297a79;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: yellow;
    color: white;
}

li a:hover:not(.active) {
    background-color: #1d5353;
    color: whitesmoke;
}
