body {
	/*background: #4d4d4d;*/
	background:#9C9C9C;
  color: black;
  margin: 5;
	font-family: 'Roboto', sans-serif;
}


.blurb{
	text-align: right;
	color: #E8F5FF;
	font-size: 14px;
	margin-right: 5%;



}

h1{
	font-size: 45px;
	color: #1963A2;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #0d1526;
		border-radius:2px;

}

li{
  float:left;
}

li a {
    display: block;
    color: #AAB4BD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: yellow;
    color: white;
}

li a:hover:not(.active) {
    background-color: #1a2a4c;
    color: whitesmoke;
}

.sidebar{
	margin-left:85%;
	height:700px;
	width:275px;
	background-color: #2A2B2B;
	border-radius:5px;

}

.profpic{
	border-radius:10px;
}

.icons{

	margin-left: 120px;
	margin-top: 165%;
	height:40px;
	width: 200px;

}

a.imageLink{
    text-decoration:none;
}

.location{
	text-align: right;
	color: #D54176;
	font-size: 12px;
	font-weight: bold;

}

.pin{
	margin-left: 35%;
}

.inspiration{
	background-color: black;
	display:block;
	margin: auto;

}
